
.loader5 {
    font-size: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;

    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.85));
    transition: opacity 0.3s ease-out 0s,
        visibility 0s linear 0.3s;
    will-change: transform, background;
}

.loader5:after,
.loader5:before,
.loader5__inner:after,
.loader5__inner:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(45deg);

    width: 7em;
    height: 7em;

    border: 0.5em solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.loader5:hover:after,
.loader5:hover:before,
.loader5:hover .loader5__inner:after ,
.loader5:hover .loader5__inner:before {
    transition: opacity 0.3s ease-out 0s;
}

.loader5:before {
    border-left: none;
    border-bottom: none;
    border-right: none;
}

.loader5__inner:after {
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.loader5__inner:before {
    border-right: none;
    border-top: none;
    border-left: none;
}

.loader5:after {
    -webkit-animation: loader5__loading 1.5s ease-in 0.75s infinite forwards;
    -moz-animation: loader5__loading 1.5s ease-in 0.75s infinite forwards;
    -o-animation: loader5__loading 1.5s ease-in 0.75s infinite forwards;
    animation: loader5__loading 1.5s ease-in 0.75s infinite forwards;
}

.loader5:before {
    -webkit-animation: loader5__loading 1.5s ease-in 0.375s infinite forwards;
    -moz-animation: loader5__loading 1.5s ease-in 0.375s infinite forwards;
    -o-animation: loader5__loading 1.5s ease-in 0.375s infinite forwards;
    animation: loader5__loading 1.5s ease-in 0.375s infinite forwards;
}

.loader5__inner:after {
    -webkit-animation: loader5__loading 1.5s ease-in 0s infinite forwards;
    -moz-animation: loader5__loading 1.5s ease-in 0s infinite forwards;
    -o-animation: loader5__loading 1.5s ease-in 0s infinite forwards;
    animation: loader5__loading 1.5s ease-in 0s infinite forwards;
}

.loader5__inner:before {
    -webkit-animation: loader5__loading 1.5s ease-in 1.125s infinite forwards;
    -moz-animation: loader5__loading 1.5s ease-in 1.125s infinite forwards;
    -o-animation: loader5__loading 1.5s ease-in 1.125s infinite forwards;
    animation: loader5__loading 1.5s ease-in 1.125s infinite forwards;
}

@-webkit-keyframes loader5__loading {
    25% {
        border-color: rgba(255, 255, 255, 0.85);
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5) rotate(135deg);

        border-color: rgba(255, 255, 255, 0);
    }
}

@-moz-keyframes loader5__loading {
    25% {
        border-color: rgba(255, 255, 255, 0.85);
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5) rotate(135deg);

        border-color: rgba(255, 255, 255, 0);
    }
}

@-o-keyframes loader5__loading {
    25% {
        border-color: rgba(255, 255, 255, 0.85);
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5) rotate(135deg);

        border-color: rgba(255, 255, 255, 0);
    }
}

@keyframes loader5__loading {
    25% {
        border-color: rgba(255, 255, 255, 0.85);
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5) rotate(135deg);

        border-color: rgba(255, 255, 255, 0);
    }
}
